/*CSS reset settings here*/
*{
	margin: 0px;
 	padding: 0px;
 	font-family: arial;
}
div#wrapper{
	width: 1200px;
	min-height: 500px;
	margin: 0px auto;
	overflow: hidden;
}
	div#header{
		background-color: rgb(244,244,244);
	}
		div#banner{
			min-height: 30px;
			padding: 0px 50px;
		}
			div#banner img{
				display: inline-block;
			}
			div#phone_num{
				display: inline-block;
				vertical-align: top;
				height: 43px;
				width: 700px;
				padding-top: 25px;
			}
				div#phone_num h1{
					font-size: 1.5em;
					text-align: right;

				}
		div#navbar_bg{
			width: 1200px;
			min-height: 20px;
			margin: 0px auto;
			background: linear-gradient(to bottom, rgb(237,241,243) 0%,rgb(231,236,239) 40%,rgb(218,224,229) 40%,rgb(232,236,240) 100%);
		}
			div#navbar{
				border-top: 1px solid rgb(204,204,204);
			}
				div#navbar div:first-child{
					padding-left: 50px;
					color: rgb(232,236,240);
					border-left: 0px;
					border-right: 0px;
				}
				div#navbar div{
					display: inline-block;
					margin: 0px;
					padding: 5px 18px;
					border-right: 1px solid rgb(204,204,204);
					border-left: 1px solid white;
				}
					div#navbar a{
						text-decoration: none;
						font-size: 0.8em;
						font-weight: 700;
						color: rgb(102,102,102);
					}
		div#bottom{
			height: 30px;
		}
	div#main{
		background: radial-gradient(farthest-side at 50% 5%, lightgrey, black);
		min-height: 100px;
		padding: 20px 0px;
		width: 1200px;

	}
		div#main_top{
			width: 1050px;
			margin: 0px auto;
			overflow: hidden;
		}
			div#picture_frame{
				vertical-align: top;
				background-color: white;
				display: inline-block;
				padding: 5px 5px 0px;
				margin-right: 20px;
			}
			div#about_frame{
				vertical-align: top;
				display: inline-block;
				min-height: 264px;
				width: 550px;
			}
				div.yellow_label{
					background: linear-gradient(to bottom, rgb(251,209,91) 0%,rgb(254,207,89) 50%,rgb(255,197,47) 50%,rgb(253,207,85) 100%);
					padding:10px;
					height: 20px;
					width: 600px;
					font-weight: 800;
					font-size: 0.9em;
				}
				div#about_frame #main_desc{
					background: rgba(223,223,223,0.3);
					padding: 20px;
					min-height: 240px;
					width: 520px;
					color: white;
				}
					#main_desc p{
						margin-top: 20px;
						font-size: 0.8em;
					}
		div#main_middle{
			width: 1050px;
			margin: 0px auto;
			padding: 15px 0px;
		}
			div#main_middle p{
				margin-left: 40px;
				font-size: 0.8em;
				color: rgb(153,153,86);
			}
				div#main_middle p img{
					margin-right: 25px;
				}
		div#main_bottom{
			width: 1100px;
			margin: 0px auto;
		}
			div#main_bottom .sub_frame{
				overflow: hidden;
				display: inline-block;
				vertical-align: top;
				width: 240px;
				min-height: 200px;
				margin: 0px 15px;
			}
				div#main_bottom .sub_frame img.pictures{
					width: 240px;
					height: 110px;
				}
				.description{
					background: linear-gradient(to bottom, white 0%,rgb(255,248,232) 100%);
					padding: 10px;
		    		min-height: 80px;
					width: 220px;
					font-size: 0.8em;
				}
				.read_more_container{
					background-color: rgb(255,248,232);
					width: 240px;
					height: 35px;
					padding-top: 10px;
					padding-left: 120px;
				}
					div#main_bottom .sub_frame .read_more_container img{
						height: 25px;
					}
					div#main_bottom .sub_frame .read_more_container p{
						margin-top: -23px;
						margin-left: 14px;
						font-size: 0.7em;
						font-weight: 700;
					}