/*CSS reset settings here*/
*{
	margin: 0px;
 	padding: 0px;
 	font-family: arial;
}
#square{
	height: 200px;
	width: 200px;
	background-color: blue;
}
#circle{	
	height: 200px;
	width: 200px;
	background-color: blue;
	border-radius: 100px;
}
#triangle{
	height: 0px;
	width: 0px;
	border-right: 100px solid transparent;
	border-bottom: 200px solid blue;
	border-left: 100px solid transparent;
}
#pacman{
	height: 0px;
	width: 0px;
	border-right: 100px solid transparent;
	border-top: 100px solid blue;
	border-bottom: 100px solid blue;
	border-left: 100px solid blue;
	border-radius: 100px;
}